{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/cafes-bg.png')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>The 10 Best Work Friendly Cafes</h1>
          <span class="subheading">Our choice: based on superfast Wi-Fi, and most importantly....good coffee! </span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="thumbnail">
              <img src="https://lh3.googleusercontent.com/p/AF1QipOdqwoxadk3kbTLMlx3dgH9dJHpNMMTT1b2p27T=s680-w680-h510" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
            </div>
            <div class="card-body">
              <ul>
                <li><b><em>Truth Coffee Roasting</em></b></li>
                <li>36 Buitenkant Street, Cape Town City Centre</li>
                <li>Hours: 7 am-10 pm</li>
                <li><a href="https://www.google.com/maps/dir//36+Buitenkant+St,+Cape+Town+City+Centre,+Cape+Town,+8000/@-33.9281626,18.3402877,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc677c90fa4f93:0xfb23b9d5b59813f6!2m2!1d18.4226889!2d-33.92819?entry=ttu"><u>Maps Link</u></a></li>
              </ul>


            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="thumbnail">
              <img src="https://lh3.googleusercontent.com/p/AF1QipOfyRHG53UfYhCY2dhJdRNnGXm4CeANiVSNrLcd=s680-w680-h510" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
            </div>
            <div class="card-body">
              <ul>
                <li><b><em>Rosetta Roastery Cafe</em></b></li>
                <li>101 Bree Street, Cape Town City Centre</li>
                <li>Hours: 7 am-4 pm</li>
                <li><a href="https://www.google.com/maps/dir//36+Buitenkant+St,+Cape+Town+City+Centre,+Cape+Town,+8000/@-33.9281626,18.3402877,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc677c90fa4f93:0xfb23b9d5b59813f6!2m2!1d18.4226889!2d-33.92819?entry=ttu"><u>Maps Link</u></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="thumbnail">
              <img src="https://lh3.googleusercontent.com/p/AF1QipMsg9xw1fIjVScnKxyAb8ZYIRmfrogRM3kLMhD2=s680-w680-h510" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
            </div>
            <div class="card-body">
              <ul>
                <li><b><em>Ground Art Cafe</em></b></li>
                <li>160 Strand Street, De Waterkant</li>
                <li>Hours: 7 am-3 pm</li>
                <li><a href="https://www.google.com/maps/dir//36+Buitenkant+St,+Cape+Town+City+Centre,+Cape+Town,+8000/@-33.9281626,18.3402877,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc677c90fa4f93:0xfb23b9d5b59813f6!2m2!1d18.4226889!2d-33.92819?entry=ttu"><u>Maps Link</u></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="thumbnail">
              <img src="../static/assets/img/jarryds1.jpg" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
            </div>
            <div class="card-body">
              <ul>
                <li><b><em>Jarryds Brunch & Bistro</em></b></li>
                <li>90 Regent Road, Sea Point</li>
                <li>Hours: 7:30 am-4:30 pm</li>
                <li><a href="https://www.google.com/maps/dir//36+Buitenkant+St,+Cape+Town+City+Centre,+Cape+Town,+8000/@-33.9281626,18.3402877,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc677c90fa4f93:0xfb23b9d5b59813f6!2m2!1d18.4226889!2d-33.92819?entry=ttu"><u>Maps Link</u></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="thumbnail">
              <img src="../static/assets/img/nakedcoffee.jpg" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
            </div>
            <div class="card-body">
              <ul>
                <li><b><em>Naked Coffee</em></b></li>
                <li>2 Wisbeach Road, Sea Point</li>
                <li>Hours: 7 am-5 pm</li>
                <li><a href="https://www.google.com/maps/dir//36+Buitenkant+St,+Cape+Town+City+Centre,+Cape+Town,+8000/@-33.9281626,18.3402877,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc677c90fa4f93:0xfb23b9d5b59813f6!2m2!1d18.4226889!2d-33.92819?entry=ttu"><u>Maps Link</u></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="thumbnail">
              <img src="../static/assets/img/deluxe_coffee_works.jpg" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
            </div>
            <div class="card-body">
              <ul>
                <li><b><em>Deluxe Coffee Works</em></b></li>
                <li>Ou Strandpad Road, Stellenbosch</li>
                <li>Hours: 7 am-4 pm</li>
                <li><a href="https://www.google.com/maps/dir//36+Buitenkant+St,+Cape+Town+City+Centre,+Cape+Town,+8000/@-33.9281626,18.3402877,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc677c90fa4f93:0xfb23b9d5b59813f6!2m2!1d18.4226889!2d-33.92819?entry=ttu"><u>Maps Link</u></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="thumbnail">
              <img src="../static/assets/img/origin.jpg" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
            </div>
            <div class="card-body">
              <ul>
                <li><b><em>Origin Coffee Roasting</em></b></li>
                <li>28 Hudson Street, De Waterkant</li>
                <li>Hours: 7 am-4 pm</li>
                <li><a href="https://www.google.com/maps/dir//36+Buitenkant+St,+Cape+Town+City+Centre,+Cape+Town,+8000/@-33.9281626,18.3402877,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc677c90fa4f93:0xfb23b9d5b59813f6!2m2!1d18.4226889!2d-33.92819?entry=ttu"><u>Maps Link</u></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="thumbnail">
              <img src="../static/assets/img/ilovecoffee.jpg" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
            </div>
            <div class="card-body">
              <ul>
                <li><b><em>I Love Coffee Roastery</em></b></li>
                <li>103 Garfield Road, Claremont</li>
                <li>Hours: 8:30 am-4 pm</li>
                <li><a href="https://www.google.com/maps/dir//36+Buitenkant+St,+Cape+Town+City+Centre,+Cape+Town,+8000/@-33.9281626,18.3402877,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc677c90fa4f93:0xfb23b9d5b59813f6!2m2!1d18.4226889!2d-33.92819?entry=ttu"><u>Maps Link</u></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="thumbnail">
              <img src="../static/assets/img/simplebru.jpg" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
            </div>
            <div class="card-body">
              <ul>
                <li><b><em>Simple Bru Coffee Co.</em></b></li>
                <li>26 Beach Road, Melkbosstrand</li>
                <li>Hours: 7:30 am-4 pm</li>
                <li><a href="https://www.google.com/maps/dir//36+Buitenkant+St,+Cape+Town+City+Centre,+Cape+Town,+8000/@-33.9281626,18.3402877,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc677c90fa4f93:0xfb23b9d5b59813f6!2m2!1d18.4226889!2d-33.92819?entry=ttu"><u>Maps Link</u></a></li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="thumbnail">
              <img src="../static/assets/img/moltentoffee.jpg" width="100%" height="225" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>
            </div>
            <div class="card-body">
             <ul>
                <li><b><em>Molten Toffee</em></b></li>
                <li>45b Kloof Street, Gardens</li>
                <li>Hours: 7 am-4 pm</li>
                <li><a href="https://www.google.com/maps/dir//36+Buitenkant+St,+Cape+Town+City+Centre,+Cape+Town,+8000/@-33.9281626,18.3402877,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1dcc677c90fa4f93:0xfb23b9d5b59813f6!2m2!1d18.4226889!2d-33.92819?entry=ttu"><u>Maps Link</u></a></li>
              </ul>
            </div>
          </div>
      </div>
</div>

          <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary text-uppercase" href="/register">Add a New Cafe →</a>
          </div>

  {% include "footer.html" %} </div>